<div class="row m-3">
                    <div class="col-sm">
                        <img id="shoes-pic" class="rounded" src="/images/{{name}}.jpg" alt="picture of shoes">
                    </div>