<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <title>Shoe Inventory</title>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="jumbotron"> 
          <h1 class="display"> 👟👠 Shoe Inventory</h1>
          </div>
         



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Shoe Inventory</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      {{#if loggedIn}}

      <li class="nav-item">
        <a class="nav-link"  href="/inventory">Inventory</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="logout" href="/">Logout</a>
      </li>

            {{else}}
                    <li class="nav-item">
                            <a class="nav-link" href="/login">Login/SignUp</a>
                        </li>


    </ul>
     {{/if}}
  </div>
</nav>












    </header>










    <!-- Hero -->
    {{!-- <div class="hero">
        <img src="/images/hero_crop.jpg" class="img-fluid max-width: 100% height: auto" alt="picture of shoes">
    </div> --}}

    <!-- Main -->
    <main class="p-3">
        {{{ body }}}
    </main>
    <!-- Footer -->
    <footer>
        {{>footer}}
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" > </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>     
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
{{!-- <script src="/javascript/script.js"></script> --}}
</body>
</html>