<main>                      
<form id= "createshoeform">                           
 <div class="row justify-content-center">
<div class="col-md-6 col-lg-4">
    <div class="card">
        <div class="card-header"> 
            <ul class="nav nav-tabs card-header-tabs pull-right"  id="createshoeform" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="creatshoefrom" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">POST NEW SHOE</a>
                </li>
            </ul>
        </div>
    
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
<button id="upload_widget" class="cloudinary-button">Upload Photo</button>
Β Β Β Β Β Β Β Β Β Β Β Β <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
Β Β Β Β Β Β Β Β Β Β Β Β <script type="text/javascript">
Β Β Β Β Β Β Β Β Β Β Β Β var pic_url;
Β Β Β Β Β Β Β Β Β Β Β Β console.log('UPLOAD script code happeing!!')
Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β var myWidget = cloudinary.createUploadWidget({
Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β cloudName: 'dsgbovyto',
Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β uploadPreset: 'dtmzgpt6'
Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β }, (error, result) => {
Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β // console.log('RESULT', result)
Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β if (!error && result && result.event === "success") {
Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β console.log('Done! Here is the image info: ',Β result.info);
Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β 
Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β pic_url =Β  result.info.secure_url
Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β }
Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β console.log('ERRRRRR', error)
Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β })
Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β document.getElementById("upload_widget").addEventListener("click", function (event) {
Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β event.preventDefault()
Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β console.log('UPload image clicked!!!')
Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β myWidget.open();
Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β Β }, false);
Β Β Β Β Β Β Β Β Β Β Β Β </script><br>


                <!-- Login tab -->
                <div class="tab-pane fade show active" id="createshoeform" role="tabpanel" aria-labelledby="login-tab">
                    <form action="createshoeform" class="login-form">

                        <label for="name">π‘π‘  Make and Model of shoe:</label><br>
                        <input type="text" name="name" id="name"><br>

                        <label for="shoe_size">π“ Shoe Size:</label><br>
                        <input type="text" name="shoe_size" id="shoe_size"><br>

                        <label for="price_paid">π’µ Price Paid:</label><br>
                        <input type="text" name="price_paid" id="price_paid"><br>

                        <label for="resell_value ">π› Resell Value:</label><br>
                        <input type="text" name="resell_value" id="resell_value"><br>

                        <label for="notes">π“ About Shoe and Email:</label><br>
                        <input type="text" name="notes" id="notes"><br>


                     <input class="btn btn-primary mt-3" type="submit" value="Submit">
                    </form>
                </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>
</div>

</form>
<script src="/javascript/create-post.js"></script>
</main>