<main>
    <div class="card text-center">
  <div class="card-header">
    Shoe Inventory
  </div>
  <div class="card-body">
    {{!-- <h5 class="card-title">Special title treatment</h5> --}}
    <p class="card-text">Click on the button below to begin to sell your shoes.</p>
    <a  href="/shoes/create"><button class="btn btn-primary" type="button">Create shoes</button></a>
</div>

        <div class="p-3">
            <h2 class="text-center text-light">Inventory Shoes</h2>
            <div class="container animate__animated animate__fadeInUp">
            <ol class="container ">
            {{#each shoes as |shoe|}}
            {{>inventory-cards}}
            {{/each}}
            </ol>    
            </div> 
            </div>
        </div>
    </main>