<main>
    <div class="card text-center">
  <div class="card-header">
    <h2>Shoe Inventory</h2>
  </div>
  <div class="card-body">
    {{!-- <h5 class="card-title">Special title treatment</h5> --}}
    <p class="card-text">Click on the button below to begin to sell your shoes.</p>
    <a  href="/shoes/create"><button class="btn btn-primary" type="button">Create shoes</button></a>
</div>

       
            {{#each shoes as |shoe|}}
            {{>inventory-cards}}
            {{/each}}
            </ol>    
            </div> 
            </div>
        </div>
    </main>